@model App.Web.Models.ViewModels.Core.Business.TicketInfoFormModel
@{
    ViewBag.Title = "Ticket Request | Details";
    var Travel = (Claim)ViewBag.Travel;
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">Travel List</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Ticket Request</span>
    </li>
}

<h1 class="page-title">Ticket Request <small>Details</small></h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-blue sbold uppercase">Ticket Request Details</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> Return to index</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        <strong>Request By</strong>
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                           @ViewBag.RequestBy
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        <strong>Start Date</strong>
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Travel.StartDate.ToString("dd MMM yyyy")
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        <strong>End Date</strong>
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Travel.EndDate.ToString("dd MMM yyyy")
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        <strong>Travel Form</strong>
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @ViewBag.Departure
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        <strong>Travel To</strong>
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                           @ViewBag.Destination
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        <strong>Travel Schedule</strong>
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                             @Travel.Schedule
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        <strong>Description</strong>
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Travel.Description
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        <strong>Line Manager</strong>
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                           @ViewBag.LineManager
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        <strong>Project Manager</strong>
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @ViewBag.ProjectManager
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-blue sbold uppercase">Ticket Booking Status Form</span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="Booking" method="post" id="FormSubmit" class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Ticket Price
                    </label>
                    <div class="col-md-4">
                        @if (User.IsInRole("HR Agency"))
                        {
                            <input type="text" class="form-control numeric" id="PriceView" value="@Model.Price" required>
                            <input type="hidden" value="0" asp-for="Price" required />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        }
                        else
                        {
                            <p class="form-control-static">
                                <span class='numeric'>@Model.Price</span>
                            </p>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Description
                    </label>
                    <div class="col-md-5">
                        @if (User.IsInRole("HR Agency"))
                        {
                            <textarea class="form-control" asp-for="Description" rows="5"></textarea>
                        }
                        else
                        {
                            <p class="form-control-static">
                                @Model.Description
                            </p>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Booking Status
                    </label>
                    <div class="col-md-4">
                        @if (User.IsInRole("HR Agency"))
                        {
                            <select class="form-control" asp-for="Status" asp-items="@ViewBag.TicketInfo" required>
                                <option disabled selected>-- Select Status --</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        }
                        else
                        {
                            <p class="form-control-static">
                                @Model.Status
                            </p>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Attachment E-Ticket
                    </label>
                    <div class="col-md-9">
                       @if (User.IsInRole("HR Agency"))
                       {
                            <input type="hidden" asp-for="Files" class="form-control" />
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="gallery-wrap">
                                        <div id="uploaded">
                                            <div class="shortcuts text-left">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="file_upload" />
                       }
                       else
                       {
                            <ul style="padding:0; list-style-type:none;">
                                @if (ViewBag.Files != null)
                                {
                                    @foreach (var row in (@ViewBag.Files as List<string>))
                                    {
                                        <li class="attachment-item">
                                            <a href="@Url.Content("~/")">
                                                <i class="fa fa-paperclip"></i>
                                                <span class="label-file">@row</span>
                                            </a>
                                        </li>
                                    }

                                }
                                else
                                {
                                    <p class="form-control-static">
                                        <strong>No file attached.</strong>
                                    </p>
                                }
                            </ul>
                       }
                    </div>
                    @if (User.IsInRole("HR Agency"))
                    {
                        <div class="form-group last">
                            <div class="col-md-3 col-md-offset-3">
                                <label class="text-info">Max Upload 1 MB</label>
                            </div>
                        </div>
                    }
                </div>
                @if (User.IsInRole("HR Agency"))
                {
                    <div class="form-group last">
                        <div class="col-md-3 col-md-offset-3">
                            <label class="text-danger">* Field Required</label>
                            <!--Other Items Data-->
                        </div>
                    </div>
                }
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; Back</a>
                        @if (User.IsInRole("HR Agency"))
                        {
                            <button type="submit" id="btn-submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; Submit</button>
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/role/form-validation.js"></script>
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-travel", "#menu-travel");

            var success = @((TempData["Success"] != null).ToString().ToLower());

            if (success == true) {
                toastr.options = {
                    "closeButton": true,
                    "positionClass": "toast-top-right"
                }
                toastr.success("Ticket booking has been submitted");
            }

            $('select').select2();

            FormValidation.init("#FormSubmit");

            var $inputSourcePath = $('#Files');
            //if (document.getElementById("btn-submit") != null)
            @if (User.IsInRole("HR Agency"))
            {
                <text>
                initPlUploadWidget("#file_upload",
                    '@Url.Content("~/")admin/api/travel/upload?id=@ViewBag.TicketId',
                    "#attachment-template",
                    "#uploaded .shortcuts",
                    "#Files");

                renderExistingFiles('#Files', "#uploaded .shortcuts", '@Url.Content("~/")', true);

                $(document).on("click", ".delete-upload", function() {
                    removeAttachment(this, "#uploaded .shortcuts", '#Files', "/Admin/Api/Travel/DeleteFile?file=" + $(this).data("to-delete") + "&id=@ViewBag.TicketId");
                });
                </text>
            }
            else
            {
                <text>
                renderExistingFiles(null, 'li.attachment-item', null, false, '.label-file');
                </text>
            }

            $(".numeric").autoNumeric('init', { aSep: '.', aDec: ',', mDec: 0 });
            $("span.numeric").autoNumeric('init', { aSep: '.', aDec: ',', mDec: 0 });

            $("input#PriceView").on("focusout", function () {
                $("input#Price").val($(this).autoNumeric('get'));
            });

            $("#PriceViewPriceView").val('@Model.Price').trigger('focusout');
        });

    </script>
    <script type="text/template" id="attachment-template">
    <div class="column">
        <div class="inner">
            <div class="img-wrap">
                <div class="wrapper-control">
                    <div class="btn-group" style="margin-bottom:5px !important;">
                        <a class="btn btn-sm btn-success tools-nav" href="@Url.Content("~/"){{path}}" download><i class="fa fa-paperclip"></i> {{name}} ({{size}}KB)</a>
                        <a class="btn btn-sm btn-success tools-nav delete-upload" data-to-delete="{{path}}"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
}