@using App.Web.Models.ViewModels.Core.Business
@model VacancyListFormModel
@{
    ViewBag.Title = "Work Package Submission | View";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">Work Package List</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>View</span>
    </li>
}

<h1 class="page-title">View Work Package Submission <small></small></h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-blue sbold uppercase"></span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> Return to index</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="Edit" method="post" id="FormSubmit" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> You have some form errors. Please check below.
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                <div class="form-group">
                    <label asp-for="DepartmentId" class="control-label col-md-3">
                        Account
                        <span class="text-danger">  </span>
                    </label>
                    <div class="col-md-6">
                        <select class="form-control" asp-for="DepartmentId" asp-items="@(new SelectList(@ViewBag.OrganizationUnit, "Id","Name"))" required readonly disabled>
                            <option disabled selected>-- Select  Organizational Unit --</option>
                        </select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentSubId" class="control-label col-md-3">
                        Project
                        <span class="text-danger">  </span>
                    </label>
                    <div class="col-md-6">
                        <select class="form-control" asp-for="DepartmentSubId"  asp-items="@(new SelectList(@ViewBag.SubOrganizationUnit, "Id","SubName"))" required readonly disabled>
                            <option disabled selected>-- Select Sub Organizational Unit --</option>
                        </select>
                        <span asp-validation-for="DepartmentSubId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Identifier" class="control-label col-md-3">
                        Identifier
                        <span class="text-danger">  </span>
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" asp-for="Identifier" required readonly>
                        <span asp-validation-for="Identifier" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NIK" class="control-label col-md-3">
                        NIK
                        <span class="text-danger">  </span>
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" asp-for="NIK" required readonly>
                        <span asp-validation-for="NIK" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label col-md-3">
                        Name
                        <span class="text-danger">  </span>
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" asp-for="Name" required readonly>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ServicePackCategoryId" class="control-label col-md-3">
                        SSOW Category
                        <span class="text-danger">  </span>
                    </label>
                    <div class="col-md-6">
                        <select class="form-control" asp-for="ServicePackCategoryId" asp-items="@(new SelectList(@ViewBag.ServicePackCategory, "Id","Name"))" required readonly disabled>
                            <option disabled selected>-- Select SSOW Category --</option>
                        </select>
                        <span asp-validation-for="ServicePackCategoryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ServicePackId" class="control-label col-md-3">
                        SSOW ID
                        <span class="text-danger">  </span>
                    </label>
                    <div class="col-md-6">
                        <select class="form-control" asp-for="ServicePackId" asp-items="@(new SelectList(@ViewBag.SSOW, "Id","Code"))" required readonly disabled>
                            <option disabled selected>-- Select SSOW--</option>
                        </select>
                        <span asp-validation-for="ServicePackId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label col-md-3">
                        Quantity/Monthly
                        <span class="text-danger">  </span>
                    </label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" asp-for="Quantity" required readonly disabled>
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label col-md-3">
                        Start Date
                        <span class="text-danger">  </span>
                    </label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control form_datetime" id="StartDateView" value="@Model.StartDate.ToString("dd MMMM yyyy")" readonly disabled/>
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                        <input type="hidden" class="form-control" asp-for="StartDate" readonly required />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label col-md-3">
                        End Date
                        <span class="text-danger">  </span>
                    </label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control form_datetime" id="EndDateView" value="@Model.EndDate.ToString("dd MMMM yyyy")" readonly disabled/>
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                        <input type="hidden" class="form-control" asp-for="EndDate" readonly required />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="VendorId" class="control-label col-md-3">
                        ASP
                        <span class="text-danger">  </span>
                    </label>
                    <div class="col-md-6">
                        <select class="form-control" asp-for="VendorId" asp-items="@(new SelectList(@ViewBag.Vendor, "Id","Name"))" required readonly disabled>
                            <option disabled selected>-- Select ASP --</option>
                        </select>
                        <span asp-validation-for="VendorId" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label asp-for="NetworkId" class="control-label col-md-3">
                        Network Number
                        <span class="text-danger">  </span>
                    </label>
                    <div class="col-md-6">
                        <select class="form-control" asp-for="NetworkId" asp-items="@(new SelectList(@ViewBag.NetworkNumber, "Id","DisplayName"))" required readonly disabled>
                            <option disabled selected>-- Select Network --</option>
                        </select>
                        <span asp-validation-for="NetworkId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NoarmalRate" class="control-label col-md-3">
                        Service Value/Monthly
                        <span class="text-danger">  </span>
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control numeric" id="NormalRateView" value="@Model.NoarmalRate" readonly required disabled>
                        <input type="hidden" value="@Model.NoarmalRate" asp-for="NoarmalRate" required />
                        <span asp-validation-for="NoarmalRate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label col-md-3">
                        Job Description
                        <span class="text-danger"> </span>
                    </label>
                    <div class="col-md-6">
                        <textarea class="form-control" asp-for="Description" rows="5" required readonly></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ApproverOneId" class="control-label col-md-3">
                        Line Manager
                        <span class="text-danger">  </span>
                    </label>
                    <div class="col-md-6">
                        <select class="form-control" asp-for="ApproverOneId" asp-items="@(new SelectList(@ViewBag.LineManager, "Id","Name"))" required disabled>
                            <option disabled selected>-- Select LM --</option>
                        </select>
                        <span asp-validation-for="ApproverOneId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ApproverTwoId" class="control-label col-md-3">
                        Head of Service Line
                        <span class="text-danger">  </span>
                    </label>
                    <div class="col-md-6">
                        <select class="form-control" asp-for="ApproverTwoId" asp-items="@(new SelectList(@ViewBag.ServiceLine, "Id","Name"))" required readonly disabled>
                            <option disabled selected>-- Select SL Head --</option>
                        </select>
                        <span asp-validation-for="ApproverTwoId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ApproverThreeId" class="control-label col-md-3">
                        Head of Operation
                        <span class="text-danger">  </span>
                    </label>
                    <div class="col-md-6">
                        <select class="form-control" asp-for="ApproverThreeId" asp-items="@(new SelectList(@ViewBag.OpsHead, "Id","Name"))" required readonly disabled>
                            <option disabled selected>-- Select Ops Head --</option>
                        </select>
                        <span asp-validation-for="ApproverThreeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="RpmId" class="control-label col-md-3">
                        Regional PM
                        <span class="text-danger">  </span>
                    </label>
                    <div class="col-md-6">
                        <select class="form-control" asp-for="RpmId" asp-items="@(new SelectList(@ViewBag.Rpm, "Id","Name"))" required readonly disabled>
                            <option disabled selected>-- Select RPM --</option>
                        </select>
                        <span asp-validation-for="RpmId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        KTP
                        <span class="text-danger">  </span>
                    </label>
                    <div class="col-md-6">
                        <input type="hidden" asp-for="Files" class="form-control" />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="gallery-wrap">
                                    <div id="uploaded">
                                        <div class="shortcuts text-left">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="file_upload" hidden/>
                    </div>
                </div>
                <div class="form-group last">
                    <div class="col-md-3 col-md-offset-3">
                        <label class="text-info">Max Upload 1 MB</label>
                    </div>
                </div>
                <div class="form-group last">
                    <div class="col-md-3 col-md-offset-3">
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/role/form-validation.js"></script>
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-vacancy", "#menu-vacancy");

            var Danger = @((TempData["Danger"] != null).ToString().ToLower());
            if (Danger == true) {
                toastr.options = {
                    "closeButton": true,
                    "positionClass": "toast-top-right"
                }
                toastr.success("@TempData["Danger"]");
            }

            FormValidation.init("#FormSubmit");

            $(".form_datetime").datepicker({
                autoclose: true,
                format: "dd MM yyyy",
            });

            $('#JoinDateView').change(function () {
                var value = $(this).val();
                var val = my_date.date_to_db(value);
                $('#JoinDate').val(val);
            });
            $('#JoinDateView').trigger('change');

            $(".numeric").autoNumeric('init', { aSep: '.', aDec: ',', mDec: 0 });
            $('select').select2();

            $("input#NormalRateView").on("focusout", function () {
                $("input#NoarmalRate").val($(this).autoNumeric('get'));
            });

            var UpdateSelection = function () {
                var Type = $("#PackageTypeId option:selected").text();
                var Package = $("#ServicePackCategoryId").val();
                var x = -1;
                if (Type == 'A' || Type == 'a') x = 0;
                else if (Type == 'B' || Type == 'b') x = 1;
                else if (Type == 'FSO' || Type == 'fso') x = 2;
                else if (Type == 'EXPAT' || Type == 'expat') x = 3;
                else x = -1;

                if (x == -1 || !Package) return;

                $.ajax({
                    url: "/Admin/Api/Vacancy/GetServicePackByTypeAndCategory?type=" + 0 + '&packageId=' + Package,
                    success: function (result) {
                        $('#ServicePackId').html(result.servicePack);
                        $("#ServicePackId").trigger('change');
                    }
                });
            }

            $('#PackageTypeId').change(UpdateSelection);
            $('#ServicePackCategoryId').change(UpdateSelection);

            $('#DepartmentId').change(function () {
                var val = $(this).val();
                $.ajax({
                    url: "/Admin/Api/Vacancy/GetSubdivision?id=" + val, success: function (result) {
                        $('#DepartmentSubId').html(result.subdivision);
                        $('#CostCodeId').html(result.costCenter);
                        $('#NetworkId').html(result.network);
                    }
                });
            });

            // Get Normal Rate

            $('#ServicePackId').change(GetNormalRate);
            $('#Quantity').change(GetNormalRate);

            $('#OtLevel').change(GetNormalRate);

            $('#isLaptop').change(GetNormalRate);

            $('#isUsim').change(GetNormalRate);

            var $inputSourcePath = $('#Files');
            initPlUploadWidget("#file_upload",
                '@Url.Content("~/")admin/api/vacancy/upload?id=@ViewBag.Id',
                "#attachment-template",
                "#uploaded .shortcuts",
                "#Files");

            renderExistingFiles('#Files', "#uploaded .shortcuts", '@Url.Content("~/")', true);

            $(document).on("click", ".delete-upload", function () {
                removeAttachment(this, "#uploaded .shortcuts", '#Files', "/Admin/Api/Vacancy/DeleteFile?file=" + $(this).data("to-delete") + "&id=@ViewBag.Id");
            });
        });

        function GetNormalRate() {
            //reset
            $("#NoarmalRate").val('');
            $("#NormalRateView").val('').trigger('focusout');
            $("#IsManager").val('');

            var ssow = $('#ServicePackId').val();
            if (ssow === null) return;

            var OtLevel = 0;
            var isLaptop = 0;
            var isUsim = false;
            var qty = $('#Quantity').val() || 1;
            var dataString = "id=" + ssow;
            dataString += "&OtLevel=" + OtLevel;
            dataString += "&isLaptop=" + isLaptop;
            dataString += "&isUsim=" + isUsim;
            dataString += "&qty=" + qty;
            $.ajax({
                url: "/Admin/Api/Vacancy/GetNormalRate?" + dataString, success: function (result) {
                    $("#NoarmalRate").val(result.normalRate);
                    $("#NormalRateView").val(result.normalRate).trigger('focusout');
                    $("#IsManager").val(result.isManager);
                }
            });
        }

    </script>
    <script type="text/template" id="attachment-template">
        <div class="column">
            <div class="inner">
                <div class="img-wrap">
                    <div class="wrapper-control">
                        <div class="btn-group" style="margin-bottom:5px !important;">
                            <a class="btn btn-success btn-sm tools-nav" href="@Url.Content("~/"){{path}}" download><i class="fa fa-paperclip"></i> {{name}} ({{size}}KB)</a>
                            <a class="btn btn-success btn-sm tools-nav delete-upload" data-to-delete="{{path}}"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
}
