@model App.Web.Models.ViewModels.Core.Business.CostCenterViewModel
@{
    ViewBag.Title = "Cost Center Page | Details";
    var departement = (Departement) ViewBag.Departements;
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">Cost Center List</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Details</span>
    </li>
}

<h1 class="page-title">Cost Center <small>Details</small></h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-blue sbold uppercase">Cost Center Details</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> Return to index</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label asp-for="Code" class="control-label col-md-3">
                        <strong>Cost Center</strong>
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Code
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label col-md-3">
                        <strong>Organization Unit</strong>
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @departement.Name
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label col-md-3">
                        <strong>Cost Center Description</strong>
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Description
                        </p>
                    </div>
                </div>
               
               
               
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; Back</a>
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp; Edit</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-master-data", "#menu-cost-center");

            var success = @((TempData["Success"] != null).ToString().ToLower());

            if (success == true) {
                toastr.options = {
                    "closeButton": true,
                    "positionClass": "toast-top-right"
                }
                toastr.success("Cost center has been updated");
            }
        });
    </script>
}