@{
    ViewData["Title"] = "Project Page";
}

@section breadcrumb{
    <li>
        <span>Project List</span>
    </li>
}

<h1 class="page-title">Project <small>List</small></h1>
@if (TempData["Messages"] != null)
{
    <div class="alert alert-warning  alert-dismissable">
        <i class="fa fa-check"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <b>Messages : </b> @TempData["Messages"]
    </div>
}
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-blue sbold uppercase">Project List</span>
        </div>
        <div class="pull-right" id="toolbox">
            <a class="btn btn-success" href="@Url.Action("Import")" style="margin-left:5px!important"><i class="fa fa-download"></i> Import</a>
            <a class="btn btn-primary" href="@Url.Action("Create")" style="margin-left:5px!important"><i class="fa fa-plus-circle"></i> Add new</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <table id="table" class="table table-striped table-bordered table-hover no-border-bottom">
            
            <thead>
                <tr>
                    <th></th>
                    <th data-column="name">Project Name</th>
                    <th data-column="description">Description</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@{
    Html.RenderPartial("_DatatablesAssets");
}

@section scripts{
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-master-data", "#menu-project");

            var datatableOption = {
                listUrl: "/admin/api/projects/datatables",
                detailUrl: "@Url.Action("Details")/",
                editUrl: "@Url.Action("Edit")/",
                deleteUrl: "/admin/api/projects/",
                deleteAlertSuccess: "Project has been removed",
                columnDefs: [
                         {
                             "targets": 0,
                             "data": "name",
                             name:"Name",
                             "render": function(data, type, row, meta){
                                 return "<a class='detail' title='Detail Account'><i class='fa fa-info'></i></a>&nbsp;&nbsp;&nbsp;" +
                                  "<a class='edit' title='Edit Entry'><i class='fa fa-edit'></i></a>&nbsp;&nbsp;&nbsp;" +
                                  "<a class='remove' title='Remove Entry'><i class='fa fa-trash'></i></a>"},
                             "orderable": false,
                             "width": "60px",
                             className: "text-center"
                         },
                          {
                              "targets": 2,
                              "data": "description",
                              name: "Description"
                          },
                         {
                             "targets": 1,
                             "data": "name",
                             name: "Name",
                             "width": "50%",
                         }
                ]
            }

            $datatables.init("#table", datatableOption);

            var success = @((TempData["Success"] != null).ToString().ToLower());

            if (success == true) {
                toastr.options = {
                    "closeButton": true,
                    "positionClass": "toast-top-right"
                }
                toastr.success("Projet has been added");
            }
            var table = $('#table')
                .on('init.dt', function(e, settings, json) { disableImmediateSearchDt(e, settings, json, '#table'); })
                .DataTable(); theDataTable = table;
            //table.search('').columns().search('').draw();
            new $.fn.dataTable.Buttons(table, {
                buttons:
                [{
                    text:'<i class="fa fa-file-excel-o"></i> Export to Excel',
                    extend:'excel',
                    exportOptions: {
                        columns: [1,2]
                    },
                    action: function (e, dt, button, config) {
                        window.location.href = "/Export/Project";
                    }
                }]
            });
            table.buttons( 0, null ).container().appendTo( '#toolbox' );
            $('.buttons-excel').each(function() {
                $(this).removeClass('dt-button buttons-excel buttons-html5').addClass('btn btn-default')
            })
            yadcf.init(table, [
           {
               column_number: 1,
               filter_type:'text',
               filter_reset_button_text: false,
               filter_default_label:''
           },
           {
               column_number: 2, 
               filter_type:'text',
               filter_reset_button_text: false,
               filter_default_label:''
           },
           ],'footer');
        });
    </script>
}