@model App.Web.Models.ViewModels.Core.Business.DepartementSubViewModel
@{
    ViewBag.Title = "Sub Organizational Unit Page | Details";
    var currentManager = (UserProfile)ViewBag.currentManager;
    var currentDepartement = (Departement)ViewBag.currentDepartement;

}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">Sub Organizational Unit List</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Details</span>
    </li>
}

<h1 class="page-title">Sub Organizational Unit <small>Details</small></h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-blue sbold uppercase">Sub Organizational Unit Details</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> Return to index</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label asp-for="SubName" class="control-label col-md-3">
                        <strong>Sub Organizational Unit</strong>
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.SubName
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        <strong>Organizational Unit</strong>
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @currentDepartement.Name
                            @*@Model.LineManagerName*@
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentId" class="control-label col-md-3">
                        <strong>Head of Service Line</strong>
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @*@Model.DepartementName*@
                            @currentManager.Name
                        </p>
                    </div>
                </div>
              
               
               
               
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; Back</a>
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp; Edit</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-master-data", "#menu-departement-sub");

            var success = @((TempData["Success"] != null).ToString().ToLower());

            if (success == true) {
                toastr.options = {
                    "closeButton": true,
                    "positionClass": "toast-top-right"

                }
                toastr.success("Sub ops code has been updated");
            }
        });
    </script>
}